#title
  %h1= t("questions.show.title")

%p
  %b= "#{t('questions.show.question')}: "
  %br/
  = h object.body

#indexlinks
  = link_to t('questions.show.new'), :new_question
  |
  = link_to t('questions.show.home'), :root