#title
  %h1= t 'answers.index.title'
#indexlinks
  = link_to t('answers.index.new'), :new_question

#table
  %table
    %tr.header
      %th= t 'answers.index.question'
      %th= t 'answers.index.answer'
      %th{:width => 100}= t 'answers.index.posted_at'
    - collection.each do |answer|
      %tr
        %td= h answer.question.body
        %td= h answer.body
        %td= l Date.parse(answer.created_at.to_s)