!!!
%html
  %head
    %title= "CI QNA"

    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = javascript_include_tag 'jquery.js'
    = javascript_include_tag 'application.js'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

  %body
    %div{:class => (RAILS_ENV == 'development' ? 'container showgrid' : 'container')}
      #header
        = link_to image_tag('crowdint.png'), :root
        #bar
          .text= "&nbsp;"
      #content
        - if flash[:notice]
          #notice
            = flash[:notice]
        = yield
      #footer
        != render :partial => '/layouts/footer'

        